# News Recommendation Using Clusters

# Goal is to recommend  the news in which the person is interested

In [ ]:
#Fetchinh URL

In [1]:
import requests
from bs4 import BeautifulSoup
url = "https://www.opindia.com/latest-news/"
data = requests.get(url)
import pandas as pd

In [2]:
data

In [3]:
#data.content

In [4]:
soup = BeautifulSoup(data.content)

In [5]:
def fetch_article(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    articles = []
    for i in soup.find_all("h3",class_ = ["entry-title td-module-title"]):
        articles.append(i.find('a')['title'])     
    return articles

In [ ]:
#store the URL in the list

In [6]:
urllist = []
for i in range(2,21,1):
    url = "https://www.opindia.com/latest-news/page/" + str(i) + "/"
    urllist.append(url)

In [7]:
#urllist

In [8]:
all_articles = []
for i in urllist:
    all_articles.extend(fetch_article(i))

In [ ]:
#Tokenisation
#Stemming
#Lamitization

In [9]:
p_art =[]
for i in all_articles:
    q = i.upper()
    import re
    q = re.sub("[^A-Z0-9 ]","",q)
    from nltk.stem import PorterStemmer
    tk_q = q.split(" ")
    sent = ""
    for j in tk_q:
        ps = PorterStemmer()
        sent = sent + " " + ps.stem(j).upper()
    p_art.append(sent)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()
A = tf.fit_transform(p_art).toarray()

In [ ]:
#By using kmeans.labels_ we will get which words belong to which cluster

In [11]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=5)
cl_res = km.fit(A)

In [12]:
cl_res.labels_

array([4, 4, 3, ..., 3, 3, 3])

In [13]:
Q = pd.DataFrame(p_art,columns=["Article"])
Q['Cluster']=cl_res.labels_

In [14]:
Q.head()

                                             Article  Cluster
0   HYDERABAD OPEN CHARMINAR MOSQU FOR NAMAZ BHAG...        4
1   MAHARASHTRA NCP WORKER JOIN ISLAMIST TO OUTRA...        4
2   DELHI HEALTH MINIST SATYENDAR JAIN SENT TO ED...        3
3   AAP APE CONGRESS IN INSULT PM MODI CALL HIM C...        0
4   IF WE KNEW THERE WA A SHIVL WE WOULD HAVE DES...        1

1 --> politics
2 --> religion
3 --> sports
4 --> entertainment
0 --> geopolitics

In [16]:
E = {1 : "politics",
2 : "religion",
3 : "sports",
4 : "entertainment",
0 : "geopolitics"}

In [17]:
R = []
for i in Q.Cluster:
    R.append(E[i])

Q['category'] = R

# ARTICLES FETCHED ACCORDING TO THE CLUSTERS CREATED

In [18]:
Q

,Article,Cluster,category
0,HYDERABAD OPEN CHARMINAR MOSQU FOR NAMAZ BHAG...,4,entertainment
1,MAHARASHTRA NCP WORKER JOIN ISLAMIST TO OUTRA...,4,entertainment
2,DELHI HEALTH MINIST SATYENDAR JAIN SENT TO ED...,3,sports
3,AAP APE CONGRESS IN INSULT PM MODI CALL HIM C...,0,geopolitics
4,IF WE KNEW THERE WA A SHIVL WE WOULD HAVE DES...,1,politics
...,...,...,...
1971,IMRAN KHAN IN TROUBL OVER CORRUPT ALLEG FROM ...,3,sports
1972,SHAH FAESAL REINSTAT IN IA HERE IS A LOWDOWN ...,3,sports
1973,WE HAVE BROUGHT 150 EXMUSLIM BACK TO HINDU FA...,3,sports
1974,TELANGANA CM KCR SON KTR CLAIM VAT ON FUEL PR...,3,sports
1975,AADITYA THACKERAY PULL A RAHUL GANDHI HAIL TH...,3,sports